<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cofrem.transacciones">

    <uses-sdk
        android:minSdkVersion="$rootProject.ext.compileSdkVersion"
        android:targetSdkVersion="$rootProject.ext.targetSdkVersion" />

    <uses-feature
        android:name="android.hardware.usb.host"
        android:required="true" />

    <uses-feature
        android:name="android.hardware.nfc"
        android:required="true" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.NFC" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <!--Splash Screen-->
        <activity
            android:name=".SplashScreen.ui.SplashScreenActivity_"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:windowSoftInputMode="stateHidden|stateAlwaysHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!--Main Screen-->
        <activity
            android:name=".MainScreenActivity_"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:windowSoftInputMode="stateHidden|stateAlwaysHidden"></activity>
        <!-- Transaction Screen -->
        <activity
            android:name=".TransactionScreenActivity_"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:windowSoftInputMode="stateHidden|stateAlwaysHidden"></activity>
        <!-- Transaction Screen / Module Credito -->
        <activity
            android:name=".Modules.ModuleTransaction.CreditoScreen.ui.CreditoScreenActivity_"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:windowSoftInputMode="stateHidden|stateAlwaysHidden"></activity>
        <!-- Transaction Screen / Module Saldo -->
        <activity
            android:name=".Modules.ModuleTransaction.SaldoScreen.ui.SaldoScreenActivity_"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:windowSoftInputMode="stateHidden|stateAlwaysHidden"></activity>
        <!-- Transaction Screen / Module Anulacion -->
        <activity
            android:name=".Modules.ModuleTransaction.AnulacionScreen.ui.AnulacionScreenActivity_"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:windowSoftInputMode="stateHidden|stateAlwaysHidden"></activity>
        <!-- Report Screen -->
        <activity
            android:name=".ReportScreenActivity_"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:windowSoftInputMode="stateHidden|stateAlwaysHidden"></activity>
        <!-- Report Screen Reimpresion activity -->
        <activity
            android:name=".Modules.ModuleReports.ReimpresionScreenActivity.ui.ReimpresionScreenActivity_"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:windowSoftInputMode="stateHidden|stateAlwaysHidden"></activity>
        <!-- Configuration Screen -->
        <activity
            android:name=".ConfigurationScreenActivity_"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:windowSoftInputMode="stateHidden|stateAlwaysHidden"></activity>
        <!-- Configuration Screen / Module RegisterConfiguration-->
        <activity
            android:name=".Modules.ModuleConfiguration.RegisterConfigurationScreen.ui.RegisterConfigurationScreenActivity_"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:windowSoftInputMode="stateHidden|stateAlwaysHidden"></activity>
        <!-- Configuration Screen / Module TestCommunication-->
        <activity
            android:name=".Modules.ModuleConfiguration.ConfigurationPrinter.ui.ConfigurationPrinterScreenActivity_"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:windowSoftInputMode="stateHidden|stateAlwaysHidden"></activity>
        <!-- Configuration Screen / Module TestCommunication-->
        <activity
            android:name=".Modules.ModuleConfiguration.TestCommunicationScreen.ui.TestCommunicationScreenActivity_"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen"
            android:windowSoftInputMode="stateHidden|stateAlwaysHidden"></activity>

    </application>

</manifest>